{
    # Global options
    email irvan.herz@mail.com  # email untuk Let's Encrypt
    # acme_ca https://acme-v02.api.letsencrypt.org/directory
    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
    acme_dns cloudflare GkHDmg6RMcZ5fYIJ5Cea1jOg9SO4Z85nJG8puQyK
}

# Catch-all for main domain + wildcard subdomains
herz.my.id, *.herz.my.id {
    root * /home/travelboost/travelboost-dev
    php_server

    # Optional: enable file server if needed
    file_server

    # Optional: rewrite fallback for SPA/Blade routing
    @laravel {
        file {
            try_files {path} {path}/ /index.php
        }
    }
    rewrite @laravel /index.php
}